@use "@styles/util";

.password-generator-module {
	width: 100%;
	min-height: min(100%, fit-content);

	position: relative;

	display: flex;
	flex-direction: column;
	align-items: center;
	gap: util.rem(20);

	padding: util.rem(20);
	margin-inline: auto;

	border-radius: var(--border-radius);
	border: util.rem(1) solid var(--color-border);

	background-color: var(--color-contrast);
}

.generatedPassword {
	// add more space between the title and the input
	margin-top: util.rem(8);
}

.generator-settings {
	width: 100%;
	height: fit-content;

	display: flex;
	flex-direction: column;
	gap: util.rem(8);

	// add more space between the toggles and the button
	margin-bottom: util.rem(8);

	&__slider {
		// add more space between the slider and the toggles
		margin-bottom: util.rem(28);
	}
}

// this class is only used when there is an input error
// we want the error styling to override the other styles
// and stay present while the error is ongoing
.error {
	color: var(--color-error);
	border-color: var(--color-error) !important;
	outline-color: var(--color-error) !important;

	text-align: center;
}

@include util.breakpoint-up(small) {
	.password-generator-module {
		width: util.rem(360);
		min-height: fit-content;

		top: 5vh;
		top: 5dvh;
	}
}

@include util.breakpoint-up(medium) {
	.password-generator-module {
		// 64 / 2 => +32px padding to the sides
		width: util.rem(360 + 64);
		padding-inline: util.rem(20 + 32);
	}
}

@include util.breakpoint-up(large) {
	.password-generator-module {
		top: 0;
	}
}
