@use "@styles/util" as util;

.container {
	width: 100%;
	height: fit-content;

	display: flex;
	flex-direction: column;
	align-items: center;

	color: inherit;

	&__text {
		font-size: util.rem(16);

		display: none;
	}
}

@include util.breakpoint-up(medium) {
	.container {
		flex-direction: row;
		gap: util.rem(12);

		&__text {
			display: block;
			font-size: util.rem(20);
		}
	}
}
