@use "@styles/util" as util;

.container {
	width: min(100%, util.rem(360));
	height: fit-content;
	max-height: 100%;

	position: relative;

	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: util.rem(12);

	padding: util.rem(20) util.rem(24);

	border-radius: util.rem(4);

	box-shadow: var(--drop-shadow-bottom);
	background-color: var(--color-background);

	z-index: 1;

	&__title {
		font-size: util.rem(22);
		font-weight: var(--font-weight-bold);
	}

	&__desc {
		color: var(--color-gray);
	}

	&__buttonGroup {
		width: min(100%, util.rem(480));
		height: fit-content;

		display: grid;
		place-items: center center;
		grid-template-columns: 1fr fit-content(util.rem(1)) 1fr;

		border-radius: util.rem(4) util.rem(4) 0 0;
		border: util.rem(1) solid var(--color-border);

		background-color: var(--color-contrast);
		box-shadow: var(--drop-shadow-bottom);

		& span {
			width: 100%;
			height: fit-content;

			text-align: center;

			grid-row: 1;

			cursor: pointer;
		}

		&__separator {
			width: util.rem(1);
			height: 70%;

			grid-row: 1;

			border-radius: util.rem(4);

			background-color: var(--color-gray-light);
		}
	}
}
