@use "@styles/util" as util;

.slider {
	width: min(100%, util.rem(360));

	cursor: pointer;

	&__track {
		height: util.rem(4);

		border-radius: util.rem(4);

		background-color: var(--color-gray-light);

		&:first-child {
			background-color: var(--color-primary);
		}
	}

	&__thumb {
		top: util.rem(-8);

		width: util.rem(20);
		height: util.rem(20);

		outline: none;
		border-radius: 100%;
		border: util.rem(1) solid var(--color-gray-light);

		background-color: var(--color-white);
	}
}

@media (prefers-color-scheme: dark) {
	.slider {
		&__thumb {
			border-color: transparent;
		}
	}
}
