$color-foreground: #202124;
$color-background: #f8f8f8;

$color-black: #030303;
$color-white: #ffffff;

$color-gray: #898989;
$color-gray-light: #e3e3e3;
$color-gray-dark: #2a2a2a;

$color-primary: #5ac97a;
$color-primary-light: #9ee8b3;
$color-primary-dark: #54b872;

$color-success: #5ac97a;
$color-error: #f96d69;
