$white: #f8f8f8;
$white-full: #ffffff;

$black: #202124;
$black-full: #030303;

$gray: #898989;
$gray-light: #e3e3e3;

$interactive: #5ac97a;
$interactive-light: #9ee8b3;
$interactive-dark: #54b872;

$error: #f96d69;
$error-dark: #e76561;
