@use "@styles/util" as util;

.container {
	width: min(100%, util.rem(480));
	height: fit-content;
	max-height: 100%;

	position: relative;

	display: flex;
	flex-direction: column;
	align-items: flex-end;

	overflow-y: auto;

	padding: util.rem(20);
	padding-bottom: util.rem(66);

	border-radius: util.rem(4);

	box-shadow: var(--drop-shadow-bottom);
	background-color: var(--color-background);

	z-index: 1;

	&__closeIcon {
		width: fit-content;

		color: var(--color-error);
		cursor: pointer;
	}

	&__form {
		width: min(100%, util.rem(360));
		height: fit-content;

		display: flex;
		flex-direction: column;
		align-items: flex-end;
		gap: util.rem(24);

		margin-inline: auto;

		font-size: util.rem(18);

		&__titleContainer {
			width: 100%;
			height: fit-content;

			display: flex;
			justify-content: flex-start;
			align-items: center;
			gap: util.rem(4);

			margin-inline: auto;

			&__input {
				max-width: util.rem(216);

				outline: util.rem(0.5) solid transparent;
				border: util.rem(1) solid transparent;
				border-radius: util.rem(4);

				background-color: transparent;

				padding: util.rem(4) util.rem(6);

				font-size: util.rem(22);
				font-weight: var(--font-weight-bold);

				transition: all 200ms ease 0s;

				cursor: pointer;

				&:focus {
					outline-color: var(--color-primary);
					border-color: var(--color-primary);

					background-color: var(--color-contrast);
					box-shadow: var(--drop-shadow-bottom);

					cursor: text;
				}
			}
		}

		&__fieldContainer {
			width: 100%;
			height: fit-content;

			display: flex;
			flex-direction: column;
			gap: util.rem(8);

			&__title {
				width: 100%;
				height: fit-content;

				display: flex;
				align-items: center;
				gap: util.rem(4);

				&__customFieldIcon {
					color: var(--color-gray);
				}

				&__input {
					outline: util.rem(0.5) solid transparent;
					border: util.rem(1) solid transparent;
					border-radius: util.rem(4);

					background-color: transparent;

					padding: util.rem(2) util.rem(4);

					transition: all 200ms ease 0s;

					cursor: pointer;

					&:focus {
						outline-color: var(--color-primary);
						border-color: var(--color-primary);

						background-color: var(--color-contrast);
						box-shadow: var(--drop-shadow-bottom);

						cursor: text;
					}
				}
			}

			&__input {
				display: flex;
				align-items: center;
				gap: util.rem(8);

				&__deleteIcon {
					color: var(--color-error);
					cursor: pointer;
				}

				&__generateIcon {
					color: var(--color-primary);
					cursor: pointer;
				}
			}
		}

		&__addNewField {
			width: 100%;
			height: fit-content;

			padding-left: util.rem(12);

			&__content {
				width: fit-content;
				height: fit-content;

				display: flex;
				align-items: center;
				gap: util.rem(8);
			}
		}

		&__buttonGroup {
			width: min(100%, util.rem(480));
			height: fit-content;

			margin-top: util.rem(32);

			display: grid;
			place-items: center center;
			grid-template-columns: 1fr fit-content(util.rem(1)) 1fr;

			border-radius: util.rem(4) util.rem(4) 0 0;
			border: util.rem(1) solid var(--color-border);

			background-color: var(--color-contrast);
			box-shadow: var(--drop-shadow-bottom);

			& span {
				width: 100%;
				height: fit-content;

				text-align: center;

				grid-row: 1;

				cursor: pointer;
			}

			&__separator {
				width: util.rem(1);
				height: 70%;

				grid-row: 1;

				border-radius: util.rem(4);

				background-color: var(--color-gray-light);
			}
		}
	}

	&__deleteKeyContainer {
		width: 100%;
		height: fit-content;

		display: flex;
		justify-content: center;

		margin-top: util.rem(24);

		&__deleteKey {
			width: fit-content;
			height: fit-content;

			display: flex;
			align-items: center;
			gap: util.rem(8);

			color: var(--color-error);

			font-size: util.rem(16);

			cursor: pointer;
		}
	}
}

@include util.breakpoint-up(medium) {
	.container {
		max-height: calc(100% - util.rem(40));
		padding: util.rem(20);
	}
}
