@use "./partials/reset" as reset;
@use "./util" as util;
@use "./partials" as var;

body {
	color: var.$color-foreground;
	background-color: var.$color-background;

	@media (prefers-color-scheme: dark) {
		color: var.$color-background;
		background-color: var.$color-foreground;
	}

	font-weight: var.$font-weight-normal;

	padding: util.rem(20) util.rem(20) 0 util.rem(20);

	@include util.breakpoint-up(large) {
		padding: util.rem(20) util.rem(60) 0 util.rem(60);
	}
}

.unselectable {
	user-select: none;
}

.link {
	font-weight: var.$font-weight-semibold;
	color: var.$color-primary;

	&:hover {
		cursor: pointer;
	}
}
