@use "@styles/partials/reset" as reset;
@use "@styles/partials" as var;

:root {
	@include var.colors;
	@include var.font-weights;
	@include var.shadows;
}

body {
	font-weight: var(--font-weight-normal);

	color: var(--color-foreground);
	background-color: var(--color-background);
}

.unselectable {
	user-select: none;
}

.link {
	font-weight: var(--font-weight-semibold);
	color: var(--color-primary);

	&:hover {
		cursor: pointer;
	}
}

.danger {
	font-weight: var(--font-weight-semibold);
	color: var(--color-error);
}

::placeholder {
	color: var(--color-gray);
	opacity: 1;
}
