@use "@styles/util" as util;

.logo {
	width: fit-content;
	height: fit-content;

	display: flex;
	align-items: center;

	&__text {
		font-size: 100%;
		color: var(--color-foreground);

		margin-left: util.em(4);

		&__highlight {
			color: var(--color-primary);
		}
	}
}
