@use "@styles/util" as util;

.layout {
	width: 100%;

	// navbar height when it is on the bottom of the screen
	height: calc(100% - util.rem(58));

	// padding between the content and the navbar
	padding-bottom: util.rem(24);

	display: flex;
	flex-direction: column;

	overflow: auto;
}

@include util.breakpoint-up(large) {
	.layout {
		height: 100%;
		padding: 0;
		flex-direction: column;
	}
}
