@use "@styles/util" as util;
@use "@styles/partials" as var;

.container {
	width: min(100%, util.rem(420));
	height: 100%;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	gap: util.rem(24);

	margin-inline: auto;
	padding: util.rem(20) util.rem(20) 0 util.rem(20);

	@include util.breakpoint-up(medium) {
		width: util.rem(500);
	}

	@include util.breakpoint-up(large) {
		width: fit-content;
		gap: util.rem(88);
		padding: util.rem(20) util.rem(60) 0 util.rem(60);
	}

	&__nav {
		width: 100%;
		height: fit-content;

		display: flex;
		align-items: center;

		&__buttonGroup {
			display: none;
		}

		@include util.breakpoint-up(large) {
			max-width: 100%;

			justify-content: space-between;

			&__buttonGroup {
				display: flex;
				gap: util.rem(12);
			}
		}
	}

	&__hero {
		width: 100%;
		height: fit-content;

		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: util.rem(32);

		@include util.breakpoint-up(large) {
			flex-direction: row;
			text-align: left;
		}

		&__text {
			width: 100%;
			height: fit-content;

			display: flex;
			flex-direction: column;
			gap: util.rem(32);

			@include util.breakpoint-up(large) {
				max-width: util.rem(650);
			}

			&__title {
				font-size: util.rem(32);
				font-weight: var.$font-weight-bold;

				@include util.breakpoint-up(medium) {
					font-size: util.rem(40);
				}

				@include util.breakpoint-up(xlarge) {
					font-size: util.rem(52);
				}
			}

			&__description {
				font-size: util.rem(18);

				@include util.breakpoint-up(medium) {
					font-size: util.rem(20);
				}

				@include util.breakpoint-up(xlarge) {
					font-size: util.rem(24);
				}
			}

			&__buttonGroup {
				width: fit-content;

				display: flex;
				flex-direction: column;
				gap: util.rem(8);

				&__small {
					font-size: util.rem(16);

					@include util.breakpoint-up(large) {
						display: none;
					}
				}
			}
		}

		&__image {
			width: 100%;
			height: fit-content;

			@include util.breakpoint-up(large) {
				margin-top: util.rem(48);
			}

			@include util.breakpoint-up(xlarge) {
				width: util.rem(800);
			}
		}
	}
}
