@use "@styles/util" as util;

.container {
	width: min(100%, util.rem(420));
	height: 100%;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	gap: util.rem(24);

	margin-inline: auto;
	padding: util.rem(20) util.rem(20) 0 util.rem(20);

	&__nav {
		width: 100%;
		height: fit-content;

		display: flex;
		align-items: center;

		&__buttonGroup {
			display: none;
		}
	}

	&__hero {
		width: 100%;
		height: fit-content;

		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: util.rem(32);

		&__text {
			width: 100%;
			height: fit-content;

			display: flex;
			flex-direction: column;
			gap: util.rem(32);

			&__title {
				font-size: util.rem(32);
				font-weight: var(--font-weight-bold);
			}

			&__description {
				font-size: util.rem(18);
			}

			&__buttonGroup {
				width: fit-content;

				display: flex;
				flex-direction: column;
				gap: util.rem(8);

				&__small {
					font-size: util.rem(16);
				}
			}
		}

		&__image {
			width: 100%;
			height: fit-content;
		}
	}
}

@include util.breakpoint-up(medium) {
	.container {
		width: util.rem(500);

		&__hero {
			&__text {
				&__title {
					font-size: util.rem(40);
				}

				&__description {
					font-size: util.rem(20);
				}
			}
		}
	}
}

@include util.breakpoint-up(large) {
	.container {
		width: fit-content;
		gap: util.rem(88);
		padding: util.rem(20) util.rem(60) 0 util.rem(60);

		&__nav {
			max-width: 100%;

			justify-content: space-between;

			&__buttonGroup {
				display: flex;
				gap: util.rem(12);
			}
		}

		&__hero {
			flex-direction: row;
			text-align: left;

			&__text {
				max-width: util.rem(650);

				&__title {
					font-size: util.rem(52);
				}

				&__buttonGroup {
					&__small {
						display: none;
					}
				}
			}

			&__image {
				margin-top: util.rem(48);
			}
		}
	}
}

@include util.breakpoint-up(xlarge) {
	.container {
		&__hero {
			&__text {
				&__title {
					font-size: util.rem(52);
				}

				&__description {
					font-size: util.rem(24);
				}
			}

			&__image {
				width: util.rem(800);
			}
		}
	}
}
