@use "@styles/util" as util;

.container {
	width: 100%;
	height: fit-content;

	display: flex;
	flex-direction: row;
	align-items: center;
	gap: util.rem(12);

	padding: util.rem(8);

	border: util.rem(1) solid var(--color-border);
	border-radius: util.rem(4);

	background-color: var(--color-contrast);
	box-shadow: var(--drop-shadow-bottom);
}

.content {
	width: 100%;
	height: fit-content;

	display: flex;
	flex-direction: row;
	align-items: center;
	gap: util.rem(12);

	&__textContainer {
		p {
			width: fit-content;
		}

		&__title {
			font-size: util.rem(18);
			font-weight: var(--font-weight-semibold);
		}

		&__description {
			color: var(--color-gray);
		}

		&__description,
		&__actionBtn {
			font-size: util.rem(13);
		}
	}
}

.optionsIcon {
	color: var(--color-gray);
	padding-block: util.rem(4);

	cursor: pointer;
}

.active {
	border-color: var(--color-primary);
	outline: util.rem(1) solid var(--color-primary);
}

@include util.breakpoint-up(medium) {
	.container {
		padding: util.rem(16);
	}

	.content {
		gap: util.rem(20);

		&__textContainer {
			&__title {
				font-size: util.rem(24);
			}

			&__description,
			&__actionBtn {
				font-size: util.rem(18);
			}
		}
	}
}
