@use "@styles/util" as util;

.button {
	width: fit-content;
	height: fit-content;

	outline: util.rem(0.5) solid transparent;
	border: util.rem(1) solid transparent;
	border-radius: util.rem(4);

	padding: util.rem(8) util.rem(24);

	font-size: util.rem(18);
	font-weight: var(--font-weight-semibold);

	background-color: transparent;

	transition: all 200ms ease 0s;

	cursor: pointer;

	&:disabled,
	&[disabled] {
		opacity: 0.5;
		cursor: default;
		pointer-events: none;
	}

	&__flex {
		width: 100%;
	}

	&__grow {
		@include util.breakpoint-up(large) {
			font-size: util.rem(20);
			padding: util.rem(12) util.rem(28);
		}
	}

	&__noBackdrop {
		&:hover {
			background-color: var(--color-hover);
		}

		&__default {
			color: var(--color-gray);
		}

		&__primary {
			color: var(--color-primary);
		}

		&__danger {
			color: var(--color-error);
		}
	}

	&__backdrop {
		color: var(--color-white);
		box-shadow: var(--drop-shadow-bottom);

		&:hover {
			background-color: var(--color-contrast);
		}

		&__default {
			color: var(--color-gray);
			background-color: var(--color-contrast);
			border-color: var(--color-border);

			&:hover {
				color: var(--color-foreground);
				outline-color: var(--color-border);
			}
		}

		&__primary {
			background-color: var(--color-primary);
			border-color: var(--color-primary);

			&:hover {
				color: var(--color-primary);
				outline-color: var(--color-primary);
			}
		}

		&__danger {
			background-color: var(--color-error);
			border-color: var(--color-error);

			&:hover {
				color: var(--color-error);
				outline-color: var(--color-error);
			}
		}
	}
}
