@use "@/styles/partials" as var;
@use "@/styles/util" as util;

.button {
	width: fit-content;
	height: fit-content;

	border: none;
	border-radius: util.rem(4);

	padding: util.rem(8) util.rem(24);

	font-size: util.rem(18);
	font-weight: var.$font-weight-semibold;

	background-color: transparent;

	transition: all 200ms ease 0s;

	&:hover {
		cursor: pointer;
		background-color: rgba(var.$color-gray-light, 0.1);
	}

	@include util.breakpoint-up(large) {
		font-size: util.rem(20);
		padding: util.rem(12) util.rem(28);
	}

	&__flex {
		width: 100%;

		// Overwrite breakpoint styling
		padding: util.rem(8) util.rem(24);
		font-size: util.rem(18);
	}

	&__success {
		color: var.$color-success;
	}

	&__danger {
		color: var.$color-error;
	}

	&__backdrop {
		color: var.$color-white;
		box-shadow: var.$button-drop-shadow;

		&:hover {
			background-color: var.$color-white;
		}

		@media (prefers-color-scheme: dark) {
			box-shadow: var.$button-drop-shadow-dark;
		}

		&__success {
			background-color: var.$color-success;

			&:hover {
				color: var.$color-success;
			}
		}

		&__danger {
			background-color: var.$color-error;

			&:hover {
				color: var.$color-error;
			}
		}
	}
}

@media (prefers-color-scheme: dark) {
	.button,
	.button__backdrop {
		color: var.$color-white;
	}

	.button:hover {
		background-color: rgba(var.$color-white, 0.05);
	}

	.button__backdrop:hover {
		background-color: var.$color-gray-dark;
	}
}
