@use "@styles/util" as util;

.container {
	width: min(100%, util.rem(360));
	height: fit-content;

	margin-inline: auto;
	padding: util.rem(20) util.rem(20) 0 util.rem(20);

	display: flex;
	flex-direction: column;
	align-items: center;
	gap: util.rem(32);

	&__titleContainer {
		width: 100%;

		display: grid;
		text-align: center;

		&__title {
			font-size: util.rem(28);
			font-weight: var(--font-weight-bold);

			grid-row: 1;
			grid-column: 1;
		}

		&__logoutIcon {
			display: block;

			grid-row: 1;
			grid-column: 1;

			display: flex;
			justify-content: flex-end;
			align-items: center;

			color: var(--color-primary);

			&:hover {
				cursor: pointer;
			}
		}
	}

	&__optionsGroup {
		width: 100%;
		height: fit-content;

		border-radius: util.rem(4);
		border: util.rem(1) solid var(--color-border);

		box-shadow: var(--drop-shadow-bottom);

		&__option {
			width: 100%;
			height: fit-content;

			padding: util.rem(12);

			background-color: var(--color-contrast);

			&:hover {
				cursor: pointer;
				background-color: var(--color-hover);
			}

			&:not(:first-child, :last-child) {
				border-top: util.rem(1) solid var(--color-border);
				border-bottom: util.rem(1) solid var(--color-border);
			}

			&:first-child {
				border-top-left-radius: util.rem(4);
				border-top-right-radius: util.rem(4);
			}

			&:last-child {
				border-bottom-left-radius: util.rem(4);
				border-bottom-right-radius: util.rem(4);
			}
		}
	}
}

@include util.breakpoint-up(medium) {
	.container {
		&__titleContainer {
			&__logoutIcon {
				display: none;
			}
		}
	}
}
