@use "@styles/util" as util;

.container {
	width: 100%;
	// subtract the nav height when it is on the bottom of the screen
	height: calc(100% - util.rem(46));

	display: flex;
	flex-direction: column;

	margin-inline: auto;
}

@include util.breakpoint-up(medium) {
	.container {
		flex-direction: row;
		height: 100%;
	}
}

@include util.breakpoint-up(xlarge) {
	.container {
		flex-direction: column;
	}
}
