@use "@/styles/util" as util;
@use "@/styles/partials" as var;

.container {
	width: min(100%, util.rem(350));
	height: fit-content;

	margin-inline: auto;

	display: flex;
	flex-direction: column;
	align-items: center;
	gap: util.rem(32);

	&__title {
		font-size: util.rem(28);
		font-weight: var.$font-weight-bold;
	}

	&__form {
		width: 100%;
		height: fit-content;

		display: flex;
		flex-direction: column;
		gap: util.rem(24);

		font-size: util.rem(18);

		&__inputContainer {
			display: flex;
			flex-direction: column;
			gap: util.rem(8);
		}

		&__buttonGroup {
			display: flex;
			flex-direction: column;
			gap: util.rem(24);

			margin-top: util.rem(12);

			text-align: center;
			font-size: util.rem(16);
		}
	}
}
