@use "@styles/partials" as var;
@use "@styles/util" as util;

.container {
	height: fit-content;

	display: flex;
	align-items: center;
	gap: util.em(8);

	&__img {
		width: 20%;
		height: fit-content;
	}

	&__text {
		font-size: util.em(32);

		&__highlight {
			color: var.$color-primary;
		}
	}
}
