@use "@styles/util" as util;

.container {
	height: fit-content;

	display: flex;
	align-items: center;
	gap: util.em(8);
}

.img {
	width: 20%;
	height: fit-content;
}

.text {
	font-size: util.em(32);
	color: var(--color-foreground);

	&__highlight {
		color: var(--color-primary);
	}
}
