@use "@styles/util" as util;

.container {
	width: min(100%, util.rem(360));
	height: 100%;

	margin-inline: auto;
	padding: util.rem(20) util.rem(20) 0 util.rem(20);

	display: flex;
	flex-direction: column;
	align-items: center;
	gap: util.rem(20);

	&__utilContainer {
		width: 100%;
		height: fit-content;

		display: flex;
		align-items: center;
		gap: util.rem(12);
	}

	&__keyList {
		width: 100%;
		height: fit-content;

		display: flex;
		flex-direction: column;
		align-items: center;
		gap: util.rem(12);
	}
}

@include util.breakpoint-up(medium) {
	.container {
		width: min(100%, util.rem(480));
	}
}
