@use "@styles/util" as util;

.login-module {
	width: 100%;
	height: 100%;

	position: relative;

	display: flex;
	flex-direction: column;
	align-items: center;
	gap: util.rem(20);

	padding: util.rem(20);

	background-color: var(--color-contrast);
}

.form {
	width: min(100%, util.rem(320));
	height: fit-content;

	display: flex;
	flex-direction: column;
	align-items: center;
	gap: util.rem(24);

	// add more space between the title and the form
	margin-top: util.rem(8);

	&__field {
		width: 100%;
		height: fit-content;

		&__label {
			font-size: util.rem(18);
		}

		&__forgot-password {
			float: right;
			font-size: util.rem(14);

			// make the forgot password link get tab targeted after the password input
			// the forgot password text is below the password input by default
			// then we change it's position to appear above the password input
			position: relative;

			// 42 = input height
			// 8 = margin-top of input
			// 22 = forgot-password text height
			top: util.rem(-(42 + 8 + 22));

			// remove the left behind space
			// 22 = forgot-password text height
			margin-bottom: util.rem(-22);
		}

		&__input {
			// add space between the label and the input field
			margin-top: util.rem(8);
		}
	}

	&__button {
		margin-top: util.rem(12);
	}

	&__hint {
		font-size: util.rem(14);
	}
}

@include util.breakpoint-up(small) {
	.login-module {
		width: util.rem(360);
		height: fit-content;

		margin-inline: auto;

		top: 5vh;
		top: 5dvh;

		border-radius: var(--border-radius);
		border: util.rem(1) solid var(--color-border);
	}
}

@include util.breakpoint-up(medium) {
	.login-module {
		// 64 / 2 => +32px padding to the sides
		width: util.rem(360 + 64);
	}
}
