@use "@styles/util" as util;

.container {
	width: 100%;
	height: fit-content;

	position: relative;

	display: grid;
	place-items: center end;

	&__input {
		width: 100%;
		height: fit-content;

		grid-row: 1;
		grid-column: 1;

		outline: util.rem(0.5) solid transparent;
		border: util.rem(1) solid var(--color-border);
		border-radius: util.rem(4);

		background-color: var(--color-contrast);
		box-shadow: var(--drop-shadow-bottom);

		padding: util.rem(8) util.rem(12);

		font-size: util.rem(16);

		transition: all 200ms ease 0s;

		&:focus {
			outline-color: var(--color-primary);
			border-color: var(--color-primary);
		}
	}

	&__copyBtn {
		width: fit-content;
		height: calc(100% - util.rem(2));

		display: flex;
		align-items: center;

		grid-row: 1;
		grid-column: 1;

		margin-right: util.rem(1);
		padding-right: util.rem(8);

		font-size: util.rem(14);

		border-radius: util.rem(4);

		background-color: var(--color-contrast);

		&__separator {
			width: util.rem(1);
			height: 70%;

			margin-inline: util.rem(8);

			border-radius: util.rem(4);

			background-color: var(--color-gray-light);
		}
	}
}
